# OS Utility files
.DS_Store

# IntelliJ IDE
.idea/
*.iml

# local environment properties
db.properties.local
local.properties

# Binaries
*.jar
*.war
*.ear
*.class

# reports/logs
*.log

# Build system output
.gradle/
build/
target/
out/

# NetBeans  IDE
.nb-gradle/