<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tiro" level="ALL"/>

    <!-- Log everything (a lot of information, but very useful for troubleshooting) -->
    <logger name="org.hibernate" level="OFF"/>
    <!-- Log all SQL DML statements as they are executed -->
    <logger name="org.hibernate.SQL" level="OFF"/>
    <!-- Log all JDBC parameters -->
    <logger name="org.hibernate.type" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql" level="OFF"/>
    <!-- Log all SQL DDL statements as they are executed -->
    <logger name="org.hibernate.tool.hbm2ddl" level="OFF"/>
    <!-- Log the state of all entities (max 20 entities) associated with the session at flush time -->
    <logger name="org.hibernate.pretty" level="OFF"/>
    <!-- Log all second-level cache activity -->
    <logger name="org.hibernate.cache" level="OFF"/>
    <!-- Log transaction related activity -->
    <logger name="org.hibernate.transaction" level="OFF"/>
    <!-- Log all JDBC resource acquisition -->
    <logger name="org.hibernate.jdbc" level="OFF"/>
    <!-- Log HQL and SQL ASTs during query parsing -->
    <logger name="org.hibernate.hql" level="OFF"/>
    <logger name="org.hibernate.hql.ast.AST" level="OFF"/>
    <!-- Log all JAAS authorization requests -->
    <logger name="org.hibernate.secure" level="OFF"/>
    <!-- Log hibernate statistics -->
    <logger name="org.hibernate.stat" level="OFF"/>

    <!-- Reflections library logs -->
    <logger name="org.reflections" level="OFF"/>
    <logger name="org.reflections.type" level="OFF"/>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
