<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--
        References:
            https://docs.oracle.com/cd/E24329_01/web.1211/e21049/web_xml.htm#WBAPP504
    -->

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <path>/</path>
        </cookie-config>
    </session-config>

    <filter-mapping>
        <filter-name>PagesFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>

    <!--<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/errors/404.jsp</location>
    </error-page>-->

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
</web-app>
