<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <!--
      References:
          https://docs.oracle.com/cd/E24329_01/web.1211/e21049/web_xml.htm#WBAPP504
          https://jersey.java.net/apidocs/2.11/jersey/org/glassfish/jersey/server/ServerProperties.html
          https://jersey.java.net/documentation/latest/appendix-properties.html#appendix-properties-server
  -->
  <session-config>
    <session-timeout>10</session-timeout>
    <tracking-mode>URL</tracking-mode>
  </session-config>

  <servlet>
    <servlet-name>rest-api</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.tiro.rest</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.filter.LoggingFilter</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.tracing.type</param-name>
      <param-value>ALL</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>rest-api</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
